/* Define custom font first */
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('https://fonts.gstatic.com/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMRw.woff2') format('woff2');
    font-display: swap; /* Ensures fallback font is used until custom font loads */
}

/* global styles */
* {
    box-sizing: border-box;
}

/* Specific element styles */
body {
    font-family: 'Open Sans Condensed', sans-serif; /* Use the custom font with a fallback */
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

/* Add responsive padding for body */
@media screen and (max-width: 800px) {
    body {
        padding: 10px;
    }
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 800px) {
        height: 60px;
        padding: 10px;
        margin-bottom: 20px;

        .logo-container {
            width: 50px;
            padding: 0;
        }

        .options {
            width: 80%;
        }
    }
}